In [1]:
import os
import pandas as pd

project_root = r"C:\Users\Diya\OneDrive\Desktop\quant-trading-system"
cleaned_path = os.path.join(project_root, "data", "cleaned", "nifty_spot_5min_cleaned.csv")

df = pd.read_csv(cleaned_path, parse_dates=["Date"])
df.head()

,Date,open,high,low,close
0,2025-10-27 09:15:00+05:30,25851.949219,25877.599609,25828.099609,25861.400391
1,2025-10-27 09:20:00+05:30,25862.849609,25882.900391,25862.849609,25880.949219
2,2025-10-27 09:25:00+05:30,25880.099609,25891.000000,25867.250000,25889.050781
3,2025-10-27 09:30:00+05:30,25889.150391,25899.250000,25880.949219,25896.550781
4,2025-10-27 09:35:00+05:30,25897.050781,25927.000000,25895.949219,25921.500000

In [3]:
# EMA 5 and EMA 15
df["EMA_5"] = df["close"].ewm(span=5, adjust=False).mean()
df["EMA_15"] = df["close"].ewm(span=15, adjust=False).mean()

df[["Date","close","EMA_5","EMA_15"]].head()

                       Date         close         EMA_5        EMA_15
0 2025-10-27 09:15:00+05:30  25861.400391  25861.400391  25861.400391
1 2025-10-27 09:20:00+05:30  25880.949219  25867.916667  25863.843994
2 2025-10-27 09:25:00+05:30  25889.050781  25874.961372  25866.994843
3 2025-10-27 09:30:00+05:30  25896.550781  25882.157841  25870.689335
4 2025-10-27 09:35:00+05:30  25921.500000  25895.271894  25877.040668

In [5]:
# Returns
df["spot_return"] = df["close"].pct_change()
df["futures_return"] = df["close"].pct_change()   # (temporarily same as spot for now)

df[["Date","close","spot_return"]].head()

                       Date         close  spot_return
0 2025-10-27 09:15:00+05:30  25861.400391          NaN
1 2025-10-27 09:20:00+05:30  25880.949219     0.000756
2 2025-10-27 09:25:00+05:30  25889.050781     0.000313
3 2025-10-27 09:30:00+05:30  25896.550781     0.000290
4 2025-10-27 09:35:00+05:30  25921.500000     0.000963

In [7]:
df["hour"] = df["Date"].dt.hour
df["minute"] = df["Date"].dt.minute
df["dayofweek"] = df["Date"].dt.dayofweek

In [9]:
# 1. EMA difference
df["EMA_diff"] = df["EMA_5"] - df["EMA_15"]

# 2. Rolling volatility (20 periods)
df["volatility_20"] = df["close"].rolling(window=20).std()

# 3. Rolling mean returns
df["ret_mean_20"] = df["spot_return"].rolling(window=20).mean()

# 4. Rolling max drawdown (20)
rolling_max = df["close"].rolling(window=20).max()
df["drawdown_20"] = (df["close"] - rolling_max) / rolling_max

df.head()

,Date,open,high,low,close,EMA_5,EMA_15,spot_return,futures_return,hour,minute,dayofweek,EMA_diff,volatility_20,ret_mean_20,drawdown_20
0,2025-10-27 09:15:00+05:30,25851.949219,25877.599609,25828.099609,25861.400391,25861.400391,25861.400391,NaN,NaN,9,15,0,0.000000,NaN,NaN,NaN
1,2025-10-27 09:20:00+05:30,25862.849609,25882.900391,25862.849609,25880.949219,25867.916667,25863.843994,0.000756,0.000756,9,20,0,4.072673,NaN,NaN,NaN
2,2025-10-27 09:25:00+05:30,25880.099609,25891.000000,25867.250000,25889.050781,25874.961372,25866.994843,0.000313,0.000313,9,25,0,7.966529,NaN,NaN,NaN
3,2025-10-27 09:30:00+05:30,25889.150391,25899.250000,25880.949219,25896.550781,25882.157841,25870.689335,0.000290,0.000290,9,30,0,11.468507,NaN,NaN,NaN
4,2025-10-27 09:35:00+05:30,25897.050781,25927.000000,25895.949219,25921.500000,25895.271894,25877.040668,0.000963,0.000963,9,35,0,18.231226,NaN,NaN,NaN

In [11]:
import os

project_root = r"C:\Users\Diya\OneDrive\Desktop\quant-trading-system"
features_dir = os.path.join(project_root, "data", "features")

os.makedirs(features_dir, exist_ok=True)

features_path = os.path.join(features_dir, "nifty_features_spot_5min.csv")
df.to_csv(features_path, index=False)

print("✅ Features saved at:", features_path)

✅ Features saved at: C:\Users\Diya\OneDrive\Desktop\quant-trading-system\data\features\nifty_features_spot_5min.csv

In [13]:
import os
import pandas as pd

project_root = r"C:\Users\Diya\OneDrive\Desktop\quant-trading-system"
cleaned_path = os.path.join(project_root, "data", "cleaned", "nifty_spot_5min_cleaned.csv")

df = pd.read_csv(cleaned_path, parse_dates=["Date"])

# EMA
df["EMA_50"] = df["close"].ewm(span=50, adjust=False).mean()
df["EMA_200"] = df["close"].ewm(span=200, adjust=False).mean()

# Save to features folder
features_path = os.path.join(project_root, "data", "features")
os.makedirs(features_path, exist_ok=True)

df.to_csv(os.path.join(features_path, "nifty_features_spot_5min.csv"), index=False)

print("✅ Features saved successfully")
print(df[["Date","close","EMA_50","EMA_200"]].tail())

✅ Features saved successfully
                           Date         close        EMA_50       EMA_200
23398 2026-01-16 15:05:00+05:30  25694.199219  25724.149711  25709.995541
23399 2026-01-16 15:10:00+05:30  25683.099609  25722.539904  25709.727920
23400 2026-01-16 15:15:00+05:30  25695.550781  25721.481507  25709.586853
23401 2026-01-16 15:20:00+05:30  25699.550781  25720.621478  25709.486992
23402 2026-01-16 15:25:00+05:30  25699.150391  25719.779475  25709.384140

In [15]:
# -----------------------------
# EMA 5 and EMA 15
# -----------------------------
df["EMA_5"] = df["close"].ewm(span=5, adjust=False).mean()
df["EMA_15"] = df["close"].ewm(span=15, adjust=False).mean()

# Save features file again
df.to_csv(r"C:\Users\Diya\OneDrive\Desktop\quant-trading-system\data\features\nifty_features_spot_5min.csv", index=False)

print("✅ EMA 5 & EMA 15 added successfully")
print(df.head())

✅ EMA 5 & EMA 15 added successfully
                       Date          open          high           low  \
0 2025-10-27 09:15:00+05:30  25851.949219  25877.599609  25828.099609
1 2025-10-27 09:20:00+05:30  25862.849609  25882.900391  25862.849609
2 2025-10-27 09:25:00+05:30  25880.099609  25891.000000  25867.250000
3 2025-10-27 09:30:00+05:30  25889.150391  25899.250000  25880.949219
4 2025-10-27 09:35:00+05:30  25897.050781  25927.000000  25895.949219

          close        EMA_50       EMA_200         EMA_5        EMA_15
0  25861.400391  25861.400391  25861.400391  25861.400391  25861.400391
1  25880.949219  25862.167011  25861.594906  25867.916667  25863.843994
2  25889.050781  25863.221277  25861.868099  25874.961372  25866.994843
3  25896.550781  25864.528316  25862.213200  25882.157841  25870.689335
4  25921.500000  25866.762500  25862.803119  25895.271894  25877.040668

In [17]:
# -----------------------------
# Returns
# -----------------------------
df["returns"] = df["close"].pct_change().fillna(0)

# Save updated features file
df.to_csv(r"C:\Users\Diya\OneDrive\Desktop\quant-trading-system\data\features\nifty_features_spot_5min.csv", index=False)

print("✅ Returns added successfully")
print(df.head())

✅ Returns added successfully
                       Date          open          high           low  \
0 2025-10-27 09:15:00+05:30  25851.949219  25877.599609  25828.099609
1 2025-10-27 09:20:00+05:30  25862.849609  25882.900391  25862.849609
2 2025-10-27 09:25:00+05:30  25880.099609  25891.000000  25867.250000
3 2025-10-27 09:30:00+05:30  25889.150391  25899.250000  25880.949219
4 2025-10-27 09:35:00+05:30  25897.050781  25927.000000  25895.949219

          close        EMA_50       EMA_200         EMA_5        EMA_15  \
0  25861.400391  25861.400391  25861.400391  25861.400391  25861.400391
1  25880.949219  25862.167011  25861.594906  25867.916667  25863.843994
2  25889.050781  25863.221277  25861.868099  25874.961372  25866.994843
3  25896.550781  25864.528316  25862.213200  25882.157841  25870.689335
4  25921.500000  25866.762500  25862.803119  25895.271894  25877.040668

    returns
0  0.000000
1  0.000756
2  0.000313
3  0.000290
4  0.000963